<footer class="footer mt-auto">
  <div class="container pt-3 pb-1">
    <div class="row">
      <div class="col-sm-4">
        <h6 class="font-weight-bold text-uppercase text-dark mt-3 mb-3">About this page</h6>
        <p style="font-size: 14px;" class="text-muted">This is a template developed by me for personal use. In use, this is where a short text about the company might fit.</p>


      </div><!-- col -->
      <div class="col-sm">
        <h6 class="font-weight-bold text-uppercase text-dark mt-3 mb-3">Find something</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">Products</a>
          </li>
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">Prices</a>
          </li>
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">About us</a>
          </li>
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">Press</a>
          </li>
        </ul>
      </div><!-- col -->
      <div class="col-sm">
        <h6 class="font-weight-bold text-uppercase text-dark mt-3 mb-3">External links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">Owners webpage</a>
          </li>
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">Press</a>
          </li>
          <li>
            <a href="#!" style="font-size: 14px;" class="text-dark">Something</a>
          </li>
        </ul>
      </div><!-- col -->
      <div class="col-sm">
        <h6 class="font-weight-bold text-uppercase text-dark mt-3 mb-3">Contact</h6>
        <p style="font-size: 14px;" class="text-muted">
          Great Moose Street 6BS <br />
          NO-7000 Trondheim <br />
          Norway
        </p>
      </div><!-- col -->
    </div><!-- row -->
      <div class="row">
      <div class="col-sm-12 text-center">
        <span class="text-muted"><small>© 2020 <a href="{% url 'index' %}" class="text-dark"> MeAndMyTeam</a></small></span><br />
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->
</footer>
